*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/*
.idea/gradle.xml
.idea/misc.xml
../.DS_Store

.idea/*
.idea/gradle.xml
.idea/misc.xml
../.DS_Store
.DS_Store

*Constants.java
../Constants.java




app/src/main/java/com/etuloser/padma/rohit/gitsome/util/Constants.java
